<html>
<head>
  <meta charset="utf8">
  <title><%= @title  %></title>
	<META NAME="Description" CONTENT="A fresh take on craigslist rideshare" />	
	<style>
	
	@font-face {
	  font-family: "Governor";
	  src: url("/governor.ttf") format("truetype");
	  }
	@font-face { 
		font-family: "Airplane";
		src: url("/Airplane.ttf")  format("truetype");
		}
	@font-face {
		font-family: "Raleway";
		src:url('/raleway_thin.ttf') format("truetype");
	}
	@font-face {
		font-family: "Liberator";
		src:url('/Liberator.otf') format("opentype");
	}
	@font-face {
		font-family: "QuaverSans";
		src:url('/QuaverSans.otf') format("opentype");
	}

	body{ margin:0; height:100%; }
	#topbar li{ 
		margin-top: 0;
		margin-left: .5em;
		display: inline; list-style-type: none;
		font-size: 80%;
		font-weight: 800;
		letter-spacing: 1px;
		font-family: sans-serif;
		border-left:1px solid white;
		padding-left:.3ex;
		padding-bottom:1em;
	
	}
	#topbar li:first-child{
		border-left-width:0px;
		
	}
	#topbar a:link ,#topbar a:visited {
		color: white;
		text-decoration: none;
	}
	#topbar ul li span{ font-weight:900; }
	#topbar ul{ 
		padding:0px;
		background: rgba(0,0,0,0);
		position:absolute; 
		right: 4em; 
		top: -1.3ex;
		font-size: 100%;
		margin-left:10em;
		//border:1px solid white;  
		display: inline;
	}
	span.who a:link{
		text-decoration: none;
	}
	span.who{
		font-family: Governor;
		color: white;
		line-height: 1.2;
		font-size: 200%;
	}
	#topBar{
		font-family: sans-serif;
		border-bottom:1px solid white; 
		color: #EEE;
		background: rgba(0,0,0,.75);
			height:2em;
		}

	#footer{
		width: 100%;
		color: #EEE;
		background-color: #292929;
		margin: 0px;
		margin-top:3em;
		line-height: normal;
      vertical-align: bottom;
      display: none;
		/*position: absolute;
		bottom: 0px; */
	}
	</style>
	<!-- <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js'></script>
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'></script> -->
	<script type='text/javascript' src='/jquery.min.js'></script>
	</head>
	<body>
		<div id="topBar">
			<span class="who"><a href="/">megoszt</a></span>
			<ul class="topNav">
				<li>&nbsp;</li>
				<li id="about"><a href="/about">ABOUT</a></li>
				<li id="search"><a href="/search/sfbay">SEARCH</a></li>
				<li id="login"><a href="#">LOGIN</a></li>
			</ul>
		</div>
	    <%= yield %>
		<div id="footer">
			<p><br />
				This is the footer.
			</p><br />
		</div>
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-37357669-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
	</body>
</html>
