<html>
<head>
  <meta charset="utf8">
  <title><%= @title  %></title>
	<META NAME="Description" CONTENT="A fresh take on craigslist rideshare" />
	
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js'></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'></script>

<style>

@font-face {
  font-family: "Governor";
  src: url("/governor.ttf") format("truetype");
  }
@font-face { 
	font-family: "Airplane";
	src: url("/Airplane.ttf")  format("truetype");
	}
@font-face {
	font-family: "Raleway";
	src:url('/raleway_thin.ttf') format("truetype");
}	

body{ margin:0; height:100%; }
#topbar li{ 
//	font-size: 50%;
	margin-top: 0;
//	border:1px solid white; 
	margin-left: .5em;
	display: inline; list-style-type: none;
}
//#topbar ul li span{ font-weight:900; }
#topbar ul{ 
	padding:0px;
	background: rgba(0,0,0,0);
	position:absolute; 
	right: 4em; 
	top: -1.3ex;
	font-size: 100%;
	margin-left:10em;
	//border:1px solid white;  
	display: inline;
}
span#who{
	font-family: Governor;
	color: white;
	font-size: 200%;
}
#topBar{
	font-family: sans-serif;
	border-bottom:1px solid white; 
	color: #EEE;
	background: rgba(0,0,0,.75);
		height:2em;
	}

#footer{
	width: 100%;
	color: #EEE;
	background-color: #292929;
	margin: 0px;
//	height: 5em;
	margin-top:3em;
	line-height: normal;
	vertical-align: bottom;
}
</style>
</head>
<body>
	<div id="topBar">
		<span id="who">salt</span>
		<ul class="topNav">
			<li id="about">about</li>
			<li id="cities">cities
				<!--ul class="subnav" styles="display:none">  
		            <li><a href="#">Seattle</a></li>  
		            <li><a href="#">Portland</a></li>  
		            <li><a href="#">Bay Area</a></li>  
		            <li><a href="#">Monterey</a></li>  
		            <li><a href="#">Santa Barbara</a></li>  
		            <li><a href="#">Los Angeles</a></li>  
		            <li><a href="#">San Diego</a></li>  
		        </ul-->
			</li>
			<li id="mode">mode</li>
			<li id="you">YOU<!--<span>&darr;</span>--></li>
		</ul>
	</div>
    <%= yield %>
	<div id="footer">
		Yay this is a footer!
	</div>
</body>


</html>