body {
  background-image: url('/diagonal-noise.png');
  background-attachment: fixed;
}
.ui-menu-item {
  background-color: #FFF;
  border: 1px solid black;
  border-top: 0px;
  width: 7.2em;
  margin-left: -1.5ex;
  font-size: 120%;
  font-family: helvetica;
  list-style: none none;
}
.ui-menu-item:last-child {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.ui-corner-all {
  padding-left: 1em;
}
.ui-autocomplete-input li,
.ui-autocomplete-input ul {
  background-color: #FFF;
  width: 10em;
  border: 1px solid black;
  list-style: none none;
}
.ui-autocomplete-input li {
  border: 1px solid black;
}
#searchform ul {
  display: block;
  width: 100%;
  margin: 0px 0px;
  list-style: none none;
}
#searchform li {
  border: 0px solid black;
  display: block;
  float: left;
  height: 80px;
  width: 25%;
  margin-bottom: 1ex;
}
input[type="submit"] {
  display: block;
  margin: auto;
  margin-top: 1em;
  border: 1px solid black;
  cursor: hand;
  border-radius: 25px;
  height: 40px;
  background-color: white;
  width: 100px;
  font-size: 120%;
}
fieldset input[type="text"] {
  border: 1px solid black;
  font-size: 100%;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 150px;
  color: gray;
}
input[type="radio"] {
  margin-left: 2em;
  margin-top: .5ex;
}
fieldset {
  border: 1px solid gray;
  border-radius: 25px;
}
legend {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #ccc;
  background-image: -webkit-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  border-radius: 10px;
  font-size: 120%;
  font-family: verdana;
}
#nfoBar {
  border-radius: 10px;
  display: inline;
  padding-left: 3em;
  padding-right: 50%;
  background-color: yellow;
  display: none;
}
blockquote {
  background-position: bottom;
  padding-top: 1ex;
  margin: 0;
  background-size: 100%;
  padding-bottom: 1ex;
  background-repeat: no-repeat;
}
blockquote.la {
  background-image: url('/img/banner/la.png');
}
blockquote.santabarbara {
  background-image: url('/img/banner/SB.png');
}
blockquote.sfbay {
  background-image: url('/img/banner/SF.png');
}
blockquote.portland {
  background-image: url('/img/banner/PDX.png');
}
blockquote.seattle {
  background-image: url('/img/banner/seattle.png');
}
fieldset {
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.6);
}
blockquote span {
  font-size: 200%;
  padding-bottom: 1em;
  padding: 1px;
  text-weight: 800;
  font-family: sans-serif;
  text-transform: uppercase;
  color: black;
}
#searchlegend select {
  font-size: 100%;
  background: rgba(255, 255, 255, 0.7);
  -webkit-appearance: listitem;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-background-image: url('/downArrow.svg');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 7%;
  border: 1px solid white;
  background: url('/downArrow.svg') no-repeat center right;
  border-radius: 15px;
}
#searchlegend img {
  size: 5%;
}
#cont {
  text-overflow: ellipsis;
  width: 640px;
  margin: 0 auto;
  padding: 3em;
}
.tate img {
  -webkit-transform: rotate(90deg);
}
div.post {
  padding-left: 2em;
  padding-bottom: .1ex;
  margin-bottom: 2ex;
  /*	#ECE8E3; is the backgorund color */

  border: 1px solid black;
}
div > p {
  width: 80%;
}
small {
  font-size: 40%;
}
b {
  margin-right: 2ex;
  height: 3ex;
}
.Wanted {
  border-radius: 20px;
  margin-bottom: 1em;
  background: rgba(252, 157, 154, 0.3);
}
.shadow {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
.Offered {
  background-color: #C6FFC3;
  background: rgba(174, 226, 57, 0.3);
  margin-bottom: 3em;
  border-radius: 20px;
}
img {
  margin: .2em;
  border-radius: 14px;
  position: relative;
}
div.post b {
  overflow: hidden;
  white-space: nowrap;
  display: block;
  padding: 0;
  text-overflow: ellipsis;
  margin: 0;
}
div.post b {
  text-decoration: underline overline;
}
